﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>This area provide information from html request header</p>
<h5>@Html.Raw(ViewBag.Message)</h5>
@*<script src="@Url.Content("../../Scripts/JavaScript1.js")" type="text/javascript"></script>*@

<p>
@*@{
    System.Collections.Specialized.NameValueCollection coll;    
    int loop1, loop2;
    
    coll = Request.Headers ;

    String[] arr1 = coll.AllKeys;
    for (loop1 = 0; loop1 < arr1.Length; loop1++)
    {
        Response.Write("Key: " + arr1[loop1] + "<br>");
        string[] arr2 = coll.GetValues(arr1[loop1]);
        for (loop2=0; loop2 < arr2.Length; loop2++)
        {
            Response.Write("<h5>Value: " + loop2 + ": " + Server.HtmlEncode(arr2[loop2]) + "</h5>");
        }
    }
    
}*@
    </p>
