﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <img src="~/Content/images/forest59vertical320.png" />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@forest59.com">support@forest59.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@forest.com">marketing@forest59.com</a>
</address>