﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        azure.forest59.com

        <img src="~/Content/images/forest59vertical320.png" />
    </h1>
    <blockquote>
        New technologies open the door to more fantastic and unknown subjects.
        <small><cite>Developer of forest59.com</cite></small>
    </blockquote>
        <blockquote>
            Give a man a fish and you feed him for day, teach a man to fish and you feed him for lifetime.
            <small><cite>Confucius</cite></small>
        </blockquote>
        @* <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4" style="background-color: #6dc33f">
        <h2><i class=" glyphicon glyphicon-home"></i>forest</h2>
       
        <p>
            This web site is my small laboratory to test and use new internet technologies...</p>
        <p>
        @*<a class="btn btn-default" href="#">read more &raquo;</a>
        <a class="btn btn-default" href="@Url.Action("Myforest")"><i class="fa fa-crop"></i>read more &raquo;</a>
         *@
            
            @Html.ActionLink("read more ...", "Myforest", "Home", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4" style="background-color: #ffd800">
        <h2><i class=" glyphicon glyphicon-phone"></i>mobiles</h2>
        <p>The history of my mobiles - from pocket pc to smartphone - always with Microsoft technologies</p>
        <p>
            @*<a class="btn btn-default" href="#">read more &raquo;</a>*@
            @Html.ActionLink("read more ...", "Mymobiles", "Home", null, new { @class = "btn btn-default" })
            
        </p>
    </div>
    <div class="col-md-4" style="background-color: #2cb5ac">
        <h2><i class=" glyphicon glyphicon-tree-conifer"></i>develop</h2>
        <p>The list of applications developed for mobiles based on Windows Mobile and published on internet.</p>
        <p>
            @*<a class="btn btn-default" href="#">read more &raquo;</a>*@
        @Html.ActionLink("read more ...", "Mydevelop", "Home", null, new { @class = "btn btn-default" })
        </p>
    </div>
</div>