﻿
@{
    ViewBag.Title = "Mydevelop";
}

<h2><i class=" glyphicon glyphicon-tree-conifer"></i>develop</h2>

<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
           
            <img src="~/Content/images/dv/ehnews.png" />
            <div class="caption">
                <h3>EHnews</h3>
                <h4>Windows Phone 8</h4>
                <p>Unofficial Euler Hermes rss reader</p>
                <p><a href="http://www.windowsphone.com/en-gb/store/app/ehnews/b8c4ff94-3377-4217-95d5-be63209bb071" class="btn btn-primary" role="button" target="_blank">read more...</a> 
                    <a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.windowsphone.com%2Fen-gb%2Fstore%2Fapp%2Fehnews%2Fb8c4ff94-3377-4217-95d5-be63209bb071&title=EH%20News%20for%Windows%20Phone&summary=Euler%20Hermes%20rss%20reader%20%28unofficial%29%20available%20for%20Windows%20Phone&source=Windows%20Phone%20Store"
                       class="btn btn-success" role="button" target="_blank"><i class="fa fa-linkedin-square" title="LinkedIn share" ></i>
                        <i class="fa fa-share-alt-square" ></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">

            <img src="~/Content/images/dv/eventplus.png" />
            <div class="caption">
                <h3>EventPlus</h3>
                <h4>Windows Phone 8 / 7</h4>
                <p>Calandar events manager</p>
                <p>
                    <a href="http://eventsplus.forest59.com/" class="btn btn-primary" role="button" target="_blank">read more...</a>
                    @* <a href="#" class="btn btn-default" role="button">Button</a>*@
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Content/images/dv/birthplus.png" />
            
            <div class="caption">
                <h3>BirthdayPlus</h3>
                <h4>Windows Phone 8 / 7</h4>
                <p>Birthdays events manager</p>
                <p>
                    <a href="http://birthdayplus.forest59.com/" class="btn btn-primary" role="button" target="_blank">read more...</a>
                    @* <a href="#" class="btn btn-default" role="button">Button</a>*@
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            
            <img src="~/Content/images/dv/taskplus.jpg" />
            <div class="caption">
                <h3>TaskPlus</h3>
                <h4>Windows Mobile 5 / 6.x </h4>
                <h4>PocketPC 2000 / 2002 / 2003</h4>
                <p>Tasks, appointments and birthdays manager</p>
                <p>
                    <a href="http://software.forest59.com/" class="btn btn-primary" role="button" target="_blank">read more...</a>
                    @* <a href="#" class="btn btn-default" role="button">Button</a>*@
                </p>
            </div>
        </div>
    </div>
</div>
