﻿
@{
    ViewBag.Title = "Myforest";
}

<h2><i class=" glyphicon glyphicon-home"></i>forest</h2>
<h5>In 2012 I decided to validate my skills and professional experiance by Microsoft Certification. 
    It was not easy and during prepartion to exams I also updated my knowledge.
    This is current status :</h5>
<div class="row">
    <div class="col-sm-6 col-md-4" style="background-color: teal">
        <div class="thumbnail">
            <img src="~/Content/images/mc/MS_2013(rgb).png" />

        </div>
    </div>
    <div class="col-sm-6 col-md-4" style="background-color: teal">
        <div class="thumbnail">

            <img src="~/Content/images/mc/MCTS_2013(rgb).png" />
        </div>
    </div>
    <div class="col-sm-6 col-md-4" style="background-color: lime">
        <div class="thumbnail">

            <img src="~/Content/images/mc/MCSD_2013(rgb).png" />

        </div>
    </div>
    <div class="col-sm-6 col-md-4" style="background-color: cyan">
        <div class="thumbnail">

            <img src="~/Content/images/mc/MCSA_2013(rgb).png" />

        </div>
    </div>
    <div class="col-sm-6 col-md-4" style="background-color: blue">
        <div class="thumbnail">

            <img src="~/Content/images/mc/MCP_2013(rgb).png" />

        </div>
    </div>
    <div class="col-sm-6 col-md-4" style="background-color: blue">
        <div class="thumbnail">

            <img src="~/Content/images/mc/MCITP_2013(rgb).png" />

        </div>
    </div>
    </div>


