﻿
@{
    ViewBag.Title = "MyMobiles";
}

<h3><i class=" glyphicon glyphicon-phone"></i>mobiles</h3>


<div class="jumbotron">
    <h4>Android</h4>   
    <p class="lead">
        <img src="~/Content/images/mb/s22plus-240.png" />
        <a class="btn btn-lg btn-success" href="https://en.wikipedia.org/wiki/Samsung_Galaxy_S22" role="button" target="_blank">Samsung Galaxy S22+</a>
        <img src="~/Content/images/mb/ticwatch-s2-240.jpg" />
        <a class="btn btn-lg btn-success" href="https://en.wikipedia.org/wiki/Mobvoi#Ticwatch_S2_and_E2" role="button" target="_blank">Ticwatch S2</a>
    </p>
    
</div>


<div class="row">

    <div class="col-xs-6 col-md-4">
        <p>
            <a href="https://en.wikipedia.org/wiki/Samsung_Galaxy_S20" class="thumbnail" target="_blank">
                <img src="~/Content/images/mb/s20plus-110.png" />Samsung Galaxy S20+
            </a>
        </p>
    </div>

    <div class="col-xs-6 col-md-4">
        <p>
            <a href="https://en.wikipedia.org/wiki/Samsung_Galaxy_S8" class="thumbnail" target="_blank">
                <img src="~/Content/images/mb/s8plus-110.jpg" />Samsung Galaxy S8+
            </a>
        </p>
    </div>

    <div class="col-xs-6 col-md-4">
        <p>
            <a href="https://en.wikipedia.org/wiki/Microsoft_Band_2" class="thumbnail" target="_blank">
                <img src="~/Content/images/mb/band2-110.jpg" />Microsoft Band 2
            </a>
        </p>
    </div>
    <div class="col-xs-6 col-md-4">
        <p>
            <a href="https://en.wikipedia.org/wiki/Microsoft_Lumia_950_XL" class="thumbnail" target="_blank">
                <img src="~/Content/images/mb/Lumia-950XL-110.jpg" alt="...">Lumia 950XL
            </a>
        </p>
    </div>
    <div class="col-xs-6 col-md-4">
        <p>
            <a href="http://en.wikipedia.org/wiki/Nokia_Lumia_1520" class="thumbnail" target="_blank">
                <img src="~/Content/images/mb/Nokia-Lumia-1520-110.jpg" alt="...">Nokia Lumia 1520
            </a>
        </p>
    </div>
    <div class="col-xs-6 col-md-4">
        <p><a href="http://en.wikipedia.org/wiki/Samsung_Ativ_S" class="thumbnail" target="_blank"><img src="~/Content/images/mb/samsung_ativs_110.png" alt="...">Samsung ATIV-S</a></p>
    </div>

    <div class="col-xs-6 col-md-4">
        <p><a href="http://en.wikipedia.org/wiki/HTC_7_Pro" class="thumbnail" target="_blank"><img src="~/Content/images/mb/htc7pro_sm.png" alt="...">HTC 7 PRO</a></p>
    </div>
    <div class="col-xs-6 col-md-4">
        <p><a href="http://en.wikipedia.org/wiki/HTC_Touch_Pro2" class="thumbnail" target="_blank"><img src="~/Content/images/mb/htc-touch-pro.jpg" />HTC TOUCH PRO2</a></p>
    </div>
    <div class="col-xs-6 col-md-4">
        <p><a href="http://en.wikipedia.org/wiki/HTC_Typhoon" class="thumbnail" target="_blank"><img src="~/Content/images/mb/spvc500.png" />SPV C500</a></p>
    </div>
    <div class="col-xs-6 col-md-4">
        <p><a href="http://en.wikipedia.org/wiki/Qtek_9100" class="thumbnail" target="_blank"><img src="~/Content/images/mb/qtek-9100.jpg" />QTEK 9100</a></p>
    </div>
    <div class="col-xs-6 col-md-4">
        <p><a href="http://en.wikipedia.org/wiki/IPAQ" class="thumbnail" target="_blank"><img src="~/Content/images/mb/compaq-ipaq.jpg" />COMPAQ IPAQ 3630</a></p>
    </div>
</div>


    @*<div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/Content/images/htc7pro_sm.png" alt="...">
                    <div class="caption">
                        <h3>HTC 7 PRO</h3>
                        <p>Windows Phone 7.0 / 7.5</p>
                        <p>3.6 in. 480x800 WVGA</p>
                        <p>8 GB(GSM) 512 MB ROM 576 MB RAM</p>
                        <p><a href="http://en.wikipedia.org/wiki/HTC_7_Pro" class="btn btn-primary" role="button">HTC 7 PRO</a> </p>
                    </div>
                </div>
            </div>
        </div>*@


    @*<!-- Stack the columns on mobile by making one full-width and the other half-width -->
        <div class="row">
            <div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
            <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
        </div>

        <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
        <div class="row">
            <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
            <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
            <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
        </div>

        <!-- Columns are always 50% wide, on mobile and desktop -->
        <div class="row">
            <div class="col-xs-6">.col-xs-6</div>
            <div class="col-xs-6">.col-xs-6</div>
        </div>*@



